<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="5">
    
    <Properties>
        <Property name="LOG_PATTERN">%d %5p [%t] (%F:%L) - %m%n</Property>
        <Property name="APP_LOG_ROOT">logs</Property>
    </Properties>
    
    <Appenders>
        <RollingFile name="Services"
            fileName="${APP_LOG_ROOT}/services.log"
            filePattern="${APP_LOG_ROOT}/services-%d{MM-dd-yyyy}.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="3" />
        </RollingFile>
    </Appenders>
    
    <Loggers>
        <Logger name="ivan.petrov" additivity="false" level="info">
            <AppenderRef ref="Services" />
        </Logger>
 
        <Root level="info">
            <AppenderRef ref="Services" />
        </Root>
    </Loggers>
    
</Configuration>
